<div class="sticky">
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <h1><a href="#">ALC Logo</a></h1>
      </li>
       <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="left-off-canvas-toggle toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li>
          <a ui-sref="register">Sign up now!</a>
        </li>
        <li class="has-form">
          <div class="row collapse">
            <div class="large-8 small-9 columns">
              <input type="text" placeholder="Find Stuff">
            </div>
            <div class="large-4 small-3 columns">
              <a href="#" class="button expand">Search</a>
            </div>
          </div>
        </li>
        <li class="has-dropdown menu-icon">
          <a href="#"><span>Menu</span></a>
          <ul class="dropdown">
            <li><a href="#">Getting Started</a></li>
            <li><a href="#">Education</a></li>
            <li><a href="#">Personal Growth</a></li>
            <li><a href="#">Find Resources</a></li>
            <li class="divider"></li>
            <li><a href="#">My Account</a></li>
            <li><a href="#">Log Out</a></li>
          </ul>
        </li>
      </ul>
    </section>
  </nav>
</div>
