<h3 class="row">How will you primarily use the Adventist Learning Community?</h3>
<ul class="small-block-grid-5 promo-blocks">
  <li>
    <img alc-holder="holder.js/250x200/text:[ icon ]" />
    <p>As a Student</p>
    <a>Learn More</a>
  </li>
  <li>
    <img alc-holder="holder.js/250x200/text:[ icon ]" />
    <p>As a Teacher</p>
    <a>Learn More</a>
  </li>
  <li>
    <img alc-holder="holder.js/250x200/text:[ icon ]" />
    <p>As a Pastor</p>
    <a>Learn More</a>
  </li>
  <li>
    <img alc-holder="holder.js/250x200/text:[ icon ]" />
    <p>As a Organizational Leader</p>
    <a>Learn More</a>
  </li>
  <li>
    <img alc-holder="holder.js/250x200/text:[ icon ]" />
    <p>As a General Believer</p>
    <a>Learn More</a>
  </li>
</ul>

